.drop-down-list{
    padding:0px;
      
}

.drop-down-buttons{
    list-style-type: none;
    margin:0px;
    padding:5px 0px 0px 15px;
    cursor: pointer;
    color: wheat;
    text-decoration: none;

}

.drop-down-buttons:hover{
    list-style-type: none;
     
    background-color: #0069D9;
    color: wheat;
    text-decoration: none;
    
}

.drop-down-buttons>a{
    text-decoration: none;
    color: rgb(179, 255, 0);
    
}

 